<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<form action="/account" method="post">
		<fieldset>
			<label>Edit Gender<input type="text" name="gender"/></label> <br>
			<label>Edit Age <input type="number" name="age"/></label> <br>
			<label>Edit Preference <input type="text" name="preference"></label> <br>
			<label>Edit Language <input type="text" name="language"></label> <br>
            <label>Edit University <input type="text" name="university"></label> <br>
            <label>Edit Description <input type="text" name="description"></label> <br>

        
		</fieldset>
		<br>
		<input type="reset"/>
		<input type="submit" value="Edit"/>
	</form>
	<hr>
	Already a member? Log in <a href="/logIn">Here</a>
</body>

</html>