<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Log In</title>
</head>
<body>
	<h1>Log In</h1>
	<form action="/account" method="post">	
		<br>
		<input type="reset" />
		<input type="submit" value="Submit"/>
	</form>
	<hr>
	New member? Sign Up <a href="/signUp">Here</a>
</body>

</html>