<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome</title>
</head>

<body>
	<h1>Welcome</h1>
	<div>
		<strong>Welcome to our site </strong><%- user %><br>
		<br>
	</div>
	Edit your account <a href="/account">Here</a>
</body>

</html>
