<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Matched</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <h1>Contact Your Potential Match</h1>
    <main>
        <div>
            <strong>Name: </strong><%- name %><br>
            <strong>Email: </strong><%- email %><br>
            <br>
            Pick Up Line to Use on Them: <%- pickup %>
        </div>
        <div id="link-box">
            Retry: <a href="/match">Here</a>
        </div>
        Log Out <a href="/logIn">Here</a>
    </main>
    <footer>
        <p>By Sophian</p>
    </footer>
</body>