<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Welcome</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
	<h1>Commit2Love.com</h1>

	<div id="image"> 
		<img src="/image/9493587.jpg">
	</div>

	<main>
		<div id="message">
			<strong>Welcome to our site </strong><%- user %>!<br>
		</div>
		<div>
			Edit your account <a href="/edit">Here</a>
		</div>
	</main>
	<footer>
		<p>By Sophian</p>
	</footer>
</body>

</html>
